@import "../../../styles/settings.scss";

.root {
  // border-radius: 10px;
  // box-shadow: $box-shadow;
  align-items: center;
  background: none;
  border: none;
  color: $button-color;
  cursor: pointer;
  display: flex;
  font-family: $font-title;
  font-weight: 700;
  justify-content: center;
  outline: none !important;
}

/* Media non-touch  */
@media (hover: hover) and (pointer: fine) {
  .root {
    &:hover {
      color: $button-color-active;
    }
  }
}

/*Media touchable*/

@media (pointer: coarse) {
  .root {
    &:active {
      color: $button-color-active;
      transition: 0s;
    }
  }
}
