@import "../../../styles/settings.scss";

.root {
  width: 100%;
  padding-top: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  h3 {
    text-align: left;
    margin: 2vh 0 2vh 0;
    width: 100%;
  }
  p {
    text-align: left;
    width: 80%;
    font-size: 1.1em;
    // margin-left: 2vw;
  }
  img {
    margin: 5vh 0 5vh 0;
    width: 60%;
    // height: 50;
    // max-width: ;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
