@import "./settings.scss";
@import "./typography.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  box-sizing: border-box;
  color: white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
  // height: 100%;
}
body::after {
  animation: star 500s linear infinite;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto 100%;
  background: url("../images/stars1.png");
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

body::before {
  content: "";
  background: url("../images/stars2.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  animation: star 450s linear infinite;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
}
