@import "../../../styles/settings.scss";
.root {
  color: $project-color;
  font-family: $font-title;
  font-weight: 700;
  padding-top: 10vh;
  text-transform: lowercase;
  .hexRow {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    width: 100%;
    // .hex {
    //   // background-image: url("/images/me2.jpg");
    //   // margin-right: 2.5vh;
    //   align-items: center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background: rgba($color: #fff, $alpha: 0.1);
    //   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    //   display: flex;
    //   flex-direction: column;
    //   height: 250px;
    //   justify-content: center;
    //   width: 250px;
    //   img {
    //     height: 50%;
    //     object-fit: contain;
    //     width: 50%;
    //   }
    //   p {
    //     width: 90%;
    //     margin: 0;
    //     padding: 0;
    //   }
    // }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}

@media (max-width: 991px) {
  // .root .hexRow .hex {
  //   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  //   width: 300px;
  // }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
