@import "../../../styles/settings.scss";

$hexagon-width: 250px;
$hexagon-height: $hexagon-width * 0.55;
$hexagon-margin: 25px;
$hexagon-title-color: #fff;
$hexagon-border-color: #fff;
$hexagon-border-color--hover: #72f88e;
$hexagon-image-color: #3ea0eb;
$honeycomb-max-width: 1100px;
$viewport-thereshold: $hexagon-width + $hexagon-margin;

.root {
  color: $project-color;
  font-family: $font-title;
  font-weight: 700;
  text-transform: lowercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .honeycomb {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    max-width: $honeycomb-max-width;
    padding: 0;
    transform: translateY(#{$hexagon-height/4});
    width: 100%;
    &__cell {
      align-items: center;
      display: flex;
      flex: 0 1 $hexagon-width;
      height: $hexagon-height;
      justify-content: center;
      margin: $hexagon-height/2.1 $hexagon-margin/2 $hexagon-margin;
      max-width: $hexagon-width;
      padding: 0.5em;
      position: relative;
      text-align: center;
      z-index: 1;
      &::before,
      &::after {
        content: "";
      }

      &::before,
      &::after {
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        display: block;
        height: 200%;
        left: 0;
        position: absolute;
        top: -50%;
        width: 100%;
        z-index: -1;
      }

      &::before {
        transform: scale(1.055);
      }

      &::after {
        background: rgba($color: #fff, $alpha: 0.1);
        transition: opacity 350ms;
      }
    }

    &__hidden {
      display: none;
      opacity: 0;
      width: $hexagon-width;
      margin: 0 $hexagon-margin/2;
    }
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) {
  .honeycomb__cell:nth-child(7n + 5) {
    margin-left: calc(50% - #{$hexagon-width * 1.5 + $hexagon-margin});
  }

  .honeycomb__cell:nth-child(7n + 7),
  .honeycomb__cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - #{$hexagon-width * 1.5 + $hexagon-margin});
  }

  .honeycomb__hidden:nth-child(7n + 7),
  .honeycomb__hidden:nth-child(7n + 9),
  .honeycomb__hidden:nth-child(7n + 11) {
    display: block;
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .honeycomb__cell:nth-child(5n + 4) {
    margin-left: calc(50% - #{$hexagon-width + $hexagon-margin}) !important;
  }

  .honeycomb__cell:nth-child(5n + 5) {
    margin-right: calc(50% - #{$hexagon-width + $hexagon-margin}) !important;
  }

  .honeycomb__hidden:nth-child(5n),
  .honeycomb__hidden:nth-child(5n + 3) {
    display: block;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .honeycomb__cell:nth-child(3n) {
    margin-right: calc(50% - #{$hexagon-width/2});
    margin-left: calc(50% - #{$hexagon-width/2});
  }

  .honeycomb__hidden:nth-child(3n + 5) {
    display: block;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  .honeycomb__cell {
    margin: #{$hexagon-margin/2 + $hexagon-height/2} $hexagon-margin !important;
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
